version: "3.8"

services:
  home-assistant:
    image: ghcr.io/home-assistant/home-assistant:stable
    container_name: home-assistant
    ports:
      - "30215:8123"
    volumes:
      - home-assistant-config:/config
    environment:
      - TZ=America/Los_Angeles
    restart: unless-stopped

volumes:
  home-assistant-config:
